<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel ="styletsheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="chat.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body onload="whoami()">

<table width="100" border="1px solid">
    <tr>
        <td width="25%">

            <div class="alert alert-primary" role="alert">
                <label id ="cu_username"></label>
            <br/>
                <label id ="cu_name"></label>
            </div>

            <div id="allusers">

            </div>
        </td>
        <td width ="75%">
            Mensajes
        </td>
        <div class='chatcontainer'>
             <div class='chaheader'>
                 <h3>Bienvenido<?php echo uwords($user); ?></h3>
             </div>
             <div class='chatmessages'></div>
             <div class='chatbottom'>
                 <form action='#' onsubmit='retunr flase;' id='chatform'>
                     <input type='hidden' id ='user' value ='<?php echo $user;?>'/>
                     <input type='text' name='text' id='text' value='' placeholder="Escriba su mensaje"/>
                     <input type='submit' name='submit' id ='submit' value='Post'/>
                 </form>
             </div>
         </div>
              </div>
    </tr>
</table>
</body>
</html>